.ceiling{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 16px;
    gap:100px;
}

.hero{
    align-self: center;
    align-items: center;
    display: flex;
    gap: 30px
}

.hero-main{
    font-size: 36px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap:16px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.left-header{
    font-size: 24px;
    color: #F9FAF8;
}

.hero-sub{
    font-size: 15px;
    color: #E5E7EB;
    display: flex;
    flex-wrap: wrap;
}

.right-header{
    font-size: 12px;
    color: #E5E7EB;
    display: flex;
    gap: 18px;
}

.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding: 24px;
}

.middle-top{
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937
}

.middle-bottom{
    display: flex;
    gap: 16px;
}

.container img{
    border: 8px solid #3882F6;
    height: 175px;
    width: auto;
    border-radius: 15px;
}

.container{
    text-align: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 25px
}

.quote-holder{
    background-color: #CACCCF;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.quote{
    width: 500px;
    color:#1F2937;
}

.quote em{
    font-size: 24px;
}
    
.quote strong{
    font-size: 20px;
}

body{
    font-family: 'Courier New', Courier, monospace;
    margin:0
}

button{
    border: none;
    width: 125px;
    padding:12px;
    font-size: 15px;
    font-weight: bold;
    background-color: #3882F6;
    border-radius: 12px;
    color:#E5E7EB
}

a:link{ text-decoration: none;}
a:visited{ text-decoration: none;}
a:hover{ text-decoration: none;}
a:active{ text-decoration: none;}

.middle a{
    color:#1F2937
}

.ceiling a{
    color: #F9FAF8;
}